<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/fussballquoten
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			jofjof123
		</property>
		<!--  drop and re-create the databse schema on startup -->
		<property name="hbm2ddl.auto">
		create
		</property>

		<!-- List of XML mapping files -->
		<mapping resource="mapping.Begegnung" />

	</session-factory>
</hibernate-configuration>